body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.logo{
    font-size: 0.9rem;
    color: var(--text);
}

header{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right:0;
    padding: 2em 3em;
    transition: background 250ms ease-in;
}

.list{
    list-style: none;
    display: flex;
    margin: 0;
    padding:0;
}

.nav-links{
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    font:0.9rem;
    color: inherit;
    padding: 10px;
}

.nav-links:after{
    height: 3px;
    transition:transform 150ms ease-in-out;
    transform:scaleX(0);
}

.nav-links:hover::after{
    transform:scaleX(1);
}